@media screen and (max-width: 680px) {

                        /* --- HEADER --- */

    header {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo button"
            "nav1 nav2";
    }

    .logo {
        padding: 16px;
    }

    .nav1 {
        border-top: hidden;
        border-bottom: 2px solid #0065FC;
    }

    .nav2 {
        border-top: hidden;
        border-bottom: 2px solid #F2F2F2F2;
    }

    .nav2:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: hidden;
    }
                        /* --- MAIN --- */

    /* SEARCH SECTION */

    .hero_title {
        font-size: 25px;
    }
    
    .search_input {
        width: 70%;
    }

    .search_button span {
        display: none;
    }

    .fa-search {
        visibility: visible;
        position: relative;
    }

    .filters div {
        margin-right: 10px;
    } 
    
    .filters h3 {
        font-size: 20px;
        width: 100%;
    }

    .filters i {
        height: 3rem;
        width: 3rem;
    }

    .filters p {
        margin: 12px;
        font-size: 14px;
    }
    
    /* ACCOMODATION SECTION */

    .accomodation_section {
        padding: 0;
    }

    .most_popular {
        padding: 32px 0px;
        border-radius: 0;
    }

    .most_popular_title {
        margin: 0px 32px;
    }

    .card_popular {
        margin: 0px 32px;
    }

    .results {
        grid-template-columns: 1fr;
        background: none;
    }

    .activities {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 1rem;
        padding: 32px 0px;
        margin: 0px;
        grid-template-areas:
        "tt"
        "vp"
        "fp"
        "if"
        "pc"
        "nd"
        "pl";
    }

    .activities_title {
        margin: 16px 32px;
    }

    .activities a {
        margin: 8px 32px;
    }

    .activities img {
        height: 150px;
    }

                            /* --- FOOTER --- */

    .footer_menu {
        flex-direction: column;
    }

    .footer_menu ul {
        width: auto;
    }
}