@media screen and (max-width: 680px) {

    header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo button"
            "nav1 nav2";
    }

    .results {
        grid-template-columns: 1fr;
        background: none;
    }

    .activities {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 32px 0px;
        margin: 0px;
        grid-template-areas:
        "tt"
        "vp"
        "fp"
        "if"
        "pc"
        "nd"
        "pl";
    }

    .activities a {
        margin-top: 32px;
    }

    .activities img {
        height: 150px;
    }

    .accomodation_section {
        padding: 0;
    }

    .most_popular {
        padding: 32px 0px;
        border-radius: 0;
    }

    .most_popular_title {
        margin: 0px 32px;
    }

    .card_popular {
        margin: 0px 32px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_menu ul {
        width: auto;
    }

    .search {
        width: 100%;
    }

    .search_button p {
        display: none;
    }

    .fa-search {
        display: block;
    }
}