@media screen and (max-width: 680px) {

    main {
        padding: 32px;
    }

    header {
        height: 176px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo button"
            "nav1 nav2";
    }

    .results {
        grid-template-columns: 1fr;
        padding: 32px 0px;
    }

    .activities {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 32px 0px;
        margin: 0px;
        grid-template-areas:
        "tt"
        "vp"
        "fp"
        "if"
        "pc"
        "nd"
        "pl";
    }

    .activities img {
        height: 150px;
    }

    footer {
        flex-direction: column;
    }

    .search {
        width: 100%;
    }

    .search_button {
        padding: 0px;
    }

    .search_button p {
        display: none;
    }

    .fa-search {
        display: block;
    }
}