@font-face {
    font-family: Raleway;
    src: url(media/fonts/static/Raleway-Medium.ttf);
}

body {
    font-family: Raleway;
    margin: auto;
}

h2 {
    font-weight: 500;
}

a {
    text-decoration: none;
}

.anim:hover {
    transform: scale(1.02);
}


                              /* --- HEADER --- */

header {
    max-width: 1440px;
    margin: auto;
    padding: 0px 32px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 6fr auto auto auto;
    grid-template-areas: "logo . nav1 nav2 button";
}

.logo {
    grid-area: logo;
}

.nav1 {
    padding: 32px;
    grid-area: nav1;
    justify-self: center;
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.nav2 {
    padding: 32px;
    grid-area: nav2;
    justify-self: center;
    color: black;
    border-top: 2px solid #F2F2F2;
}

.nav2:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.inscription_btn {
    padding: 32px;
    grid-area: button;
    justify-self: flex-end;
    color: #0065FC;
    font-weight: 600;
}

                              /* --- MAIN --- */
                    
    /* --- SEARCH SECTION / ACCOMODATION SECTION / ACTIVITIES SECTION --- */

main {
    max-width: 1440px;
    margin: auto;
}

/* SEARCH SECTION */

.search_section {
    padding: 0 32px;
}

.hero_title {
    margin: 16px 0px 8px 0px;
    font-size: 32px;
}

.hero_text {
    margin:0px 0px 16px 0px;
}

.search_form {
    display: flex;
    height: 48px;
}

.fa-map-marker-alt {
    width: auto;
    height: auto;
    padding: 16px 20px;
    border-radius: 1rem 0 0 1rem;
    background: #F2F2F2;
}

.search_input {
    border : none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-size: 16px;
    font-weight: 600;
    width: 176px;
    height: 48px;
    padding: 0px 24px; 
    
}

.search_button {
    color:white;
    font-size: 16px;
    font-weight: 600;
    background: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 48px;
    padding: 0px 24px;
}

.fa-search {
    color: white;
    visibility: hidden;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.filters h3 {
    margin: 0px 32px 16px 0px;
    font-size: 24px;
}

.filters div {
    margin: 0px 32px 16px 0px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
}

.filters div:hover {
    background: #F3F8FF;
}

.filters i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1500FF;
    background: #DEEBFF;
    height: 3.5rem;
    width: 3.5rem;
    margin: -2px;
    border-radius: 100%;
}

.filters p {
    margin: 16px;
    color: black;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
    margin: 16px 0px 32px 0px;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    margin-right: 16px;
    color: #0065FC;
}

 /* ACCOMODATION SECTION */
/* results / most_popular */

.accomodation_section {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
    padding: 0 32px;
}

.accomodation_section a {
    color: black;
}

.accomodation_section img {
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;    
}

.accomodation_section h4 {
    font-size: 18px;
    margin: 5px 10px;
}

.accomodation_section p {
    font-size: 16px;
    margin: 5px 10px;
}

.accomodation_section ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.accomodation_section li {
    margin: 5px 2px;
}

.afficher_plus {
    font-weight: bold;
}

/* results */

.results {
    background: #F2F2F2;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 32px;
}

.results_title {
    grid-column: 1/-1;
    margin: 0px;
    align-self: center;
}

.card_results {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 16px #0000002e;
    padding: 5px;  
}

/* most popular */

.most_popular {
    background: #F2F2F2;
    border-radius: 2rem;
    display: grid;
    row-gap: 2rem;
    grid-template-rows: auto repeat(3, 1fr);
    padding: 32px;
    align-items: center;
}

.most_popular_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.most_popular_title h2 {
     margin: 0px;
}

.most_popular_title i {
    font-size: 1.5rem;
}

.card_popular {
    background: white;
    display: flex;
    box-shadow: 0 0 16px #0000002e;
    padding: 5px;
    border-radius: 1rem;
    height: 8rem;
}

.card_popular img {
    width: 33%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

.info_popular {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blank {
    height: 33%;
}

.fa-star{
    color: #0065FC;
}

.no_star {
    color: #D9D9D9;
}

/* ACTIVITIES SECTION */

.activities {
    padding: 0 32px;
    margin: 64px 0px;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem repeat(3, 2rem) 14rem;
    grid-template-areas: 
    "tt tt tt tt"
    "vp fp pc nd"
    "vp fp pc ."
    "vp fp pc pl"
    "vp . pc pl"
    "vp if pc pl";
}
 
 .activities_title {
    grid-area: tt;
}

.activities a {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
}

.activities img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 70%;
    object-fit: cover; 
}

.activities h4 {
    margin: 20px 24px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.vieux_port {grid-area: vp;}

.vieux_port img {height: 88%;}

.fort_de_pomegue {grid-area: fp;}

.fort_de_pomegue img {height: 77%;}

.ile_du_frioul {grid-area: if;}

.calanques {grid-area: pc;}

.calanques img {height: 88%;}

.notre_dame {grid-area: nd;}

.parc_longchamp {grid-area: pl;}

.parc_longchamp img {height: 77%;}

                              /* --- FOOTER --- */

footer {
    background: #F2F2F2;
}

.footer_menu {
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding: 0 32px;
}

footer ul {
    list-style: none;
    width: 400px;
    padding: 2rem 2rem;
}

footer li {
    margin: 20px 0px;
}

footer a {
    color: black;
}