@font-face {
    font-family: Raleway;
    src: url(media/fonts/static/Raleway-Medium.ttf);
}

body {
    font-family: Raleway;
    max-width: 1440px;
    margin: auto;
}

header {
    height: 88px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . nav button";
}

.logo {
    grid-area: logo;
    padding: 0px 32px;
}

.nav {
    margin: 0px;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    
}

.nav a {
    padding: 32px;
    color: #0065FC;
}

.inscription_btn {
    grid-area: button;
    padding: 0px 32px;
    color: #0065FC;
    font-weight: 600;
}

.inscription_btn:checked {
    color: #0065FC;
}

main {
    padding-left: 32px;
}

.hero h2 {
    margin: 16px 0px 8px 0px;
    font-size: 32px;
}

.hero p {margin:0px 0px 16px 0px;}

.search {
    display: flex;
    align-items: center;
}

.search i {
    padding: 16px 20px;
}

.search_input {
    border : none;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    width: 176px;
    padding: 0px 24px; 
}

.search_button {
    color:white;
    font-size: 16px;
    font-weight: 600;
    background: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 48px;
    padding: 0px 24px;
}

.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.filters h3 {
    margin: 0px 32px 16px 0px;
    font-size: 24px;
}

.filters div {
    margin: 0px 32px 16px 0px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
}

.filters i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1500FF;
    background: #DEEBFF;
    height: 3.5rem;
    width: 3.5rem;
    margin: -2px;
    border-radius: 100%;
}

.filters p {
    margin-left: 16px;
    margin-right: 16px;
    color: black;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    margin-right: 16px;
}
